<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table class="table" align="center">

    <tr>
        <th>Tasks</th>
        <a href="/logout">logout</a>-
        <a href="/add">Add task</a>
         <a href="/register">Register</a> -
        <a href="/secure">Secure Page</a>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.description}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${task.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>